.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column; 
    margin-top: 6.25rem;
    background-color:  #848BA4;
    width: 20rem;
    height: 25rem;
    border-radius: 0.625rem;
    color: white;
}

.form input{
    display: flex;
    flex-direction: column;
    padding: .5625rem;
    margin: 0.625rem;
    width: 15rem;
    border-radius: .25rem;
    
}
.signupbutton{
    background-color: #E39C77;
    color:white;
    padding: .75rem 1rem;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: .5rem;
    font-size: .875rem;
    margin-bottom: 2rem;
}
.footer{
    margin-top: 7rem;
}