.title{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.form{
     display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column; 
    margin-bottom: 5rem;
    background-color:  #848BA4;
    width: 60rem;
    height: 30rem;
    border-radius: 0.625rem;
    color: white;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2)
}

.row{
    display: flex;
    justify-content: center;
    width: 50rem;
}
.row input{
    flex: 1;
}

.form input{
    display: flex;
    padding: .5625rem;
    margin: 0.625rem;
    width: 15rem;
    border-radius: .25rem;
    border: 1px solid transparent;
    
}

.form input[type="button"]{
    background-color: #E39C77;
    color:white;
    padding: .75rem 1rem;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: .5rem;
    font-size: .875rem;
    margin-bottom: 2rem;
}

.form textarea{
    width: 49rem;
    border-radius: .25rem;
    
}