
.spacer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
    background-color: #848BA4;
}
.nav{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin-top: -3.75rem;
}

.nav a{
    text-decoration: none;
    color: black;
}
.logo{
    width: 7.5rem;
    height: 7.5rem;
    padding-left: 12.5rem;
}