.container {
  padding: 1.25rem;
}

.sortControls button{
  color: white;
  background-color: #848BA4;
  border: none;

  width: 15rem;
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 3.125rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  cursor: pointer;
}

.sortControls button:focus {
  box-shadow: #eaeaea;
  border-bottom: 0.125rem solid #E39C77;
}
.sortControls button:hover {
  background-color: #5a5f73;
}

.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: inset;
  
}

.table th,
.table td {
  
  padding: 0.625rem;
  text-align: left;
}

.table th {
  background-color: #848BA4;
  color: white;
}

.table tr:nth-child(even) {
  background-color: #f4f4f4;
}

.table tr:hover {
  background-color: #eaeaea;
}
.stateGroup {
  margin-bottom: 2.5rem;
}

.stateHeader {
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
  padding-bottom: .3125rem;
}

.row {
  cursor: pointer;
}