.signin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column; 
    margin-top: 6.25rem;
    background-color:  #848BA4;
    width: 20rem;
    height: 20rem;
    border-radius: 0.625rem;
    color: white;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);

}

.form input{
    display: flex;
    flex-direction: column;
    padding: .5625rem;
    margin: 0.625rem;
    width: 15rem;
    border-radius: .25rem;
    border: 1px solid transparent;

    
}

.rememberme{
    margin-top: 0;
    margin-bottom: 2rem;
    margin-right: 9rem;
    font-size: .875rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
  
}
.signIn{
    background-color: #E39C77;
    color:white;
    padding: .75rem 1rem;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: .5rem;
    font-size: .875rem;
    margin-bottom: 2rem;
}
.signUp {
    display: flex;
    font-size: .875rem;
    margin-left: 48.5rem;
    margin-top: -8.9rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.1rem;
    
    
}

.signUp link{
    color: #007bff;
    cursor: pointer;
    margin-top: .9rem;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}
.footer{
    margin-top: 12rem;
}